.content{
    &__image{
        position: relative;
        display: grid;
        place-items: center;
        width: 100%;

        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 35px 35px 0 0;
        }

        &-text{
            position: absolute;
            width: auto;
            font-size: 2.6rem;
            font-weight: 600;
            text-shadow: 1px 1px 4px rgb(43, 43, 43);
            text-align: center;
        }
    }

    &__info{
        &-text{
            padding: 40px;
            font-size: 1.1rem;
        }
        
        .title{
            font-weight: bold;
            font-size: 1.5rem;
            padding-block: 12px;
        }
    }
}