<main>
    <section class="container">
        <div class="row top">
            <article class="d-flex flex-column align-items-center head">
                <div class="head__icon">
                    <div class="head__icon-top"></div>
                    <div class="head__icon-bottom">
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="head__title"><span class="bold">Office</span> Manager</div>
            </article>
        </div>
        <article>
            <div class="register mx-2 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="register__title">Confirm email</div>
                </div>
                <div class="register__text my-3">
                    You have succesfully confirmed your email
                </div>
                <button type="submit" class="form-btn" >Sign Up</button>
            </div>
        </article>
    </section>
</main>