@import 'scss/logo', 'scss/content', 'scss/user', 'scss/mobile', 'scss/utils';

main{
    overflow: hidden;
}

.web{
    height: 100%;
    // width: 100vw;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 880px) {
    .web{
        display: none;
    }

    .mobile{
        display: flex;
    }
}