@import 'scss/logo', 'scss/content', 'scss/user';

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}

.text{
    margin-block: 5px;
}

.bold{
    font-weight: bold;
    font-size: 1.2rem;
}

.custom-select{
    width: 300px;
}