.content{
    height: 100%;
    margin-block: auto;
    display: flex;
    flex-direction: row;
    margin-right: 15px;

    &__left{
        position: relative;

        &::after{
            content: '';
            width: 3px;
            height: 35px;
            background: #000;
            position: absolute;
            right: -10%;
            transform: translateY(-100%);
        }
    }
    &__right{
        margin-left: 40px;
    }
}