<main>
    <section class="container">
        <div class="row top">
            <article class="d-flex flex-column align-items-center head">
                <div class="head__icon">
                    <div class="head__icon-top"></div>
                    <div class="head__icon-bottom">
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="head__title"><span class="bold">Office</span> Manager</div>
            </article>
        </div>
        <article>
            <div class="register mx-2 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="register__title">Verification Code</div>
                </div>
                <form class="register__form">
                    <div class="form-group">
                        <label for="name" style="font-size: 1.3rem;">Code</label>
                        <input type="text" style="width: 275px;" class="form-input" id="name">
                    </div>
                    <button type="submit" class="form-btn" >Send</button>
                </form>
            </div>
        </article>
    </section>
</main>
