<main>
    <section class="container">
        <div class="row top">
            <article class="d-flex flex-column align-items-center head">
                <div class="head__icon">
                    <div class="head__icon-top"></div>
                    <div class="head__icon-bottom">
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="head__title"><span class="bold">Office</span> Manager</div>
            </article>
        </div>
        <article>
            <div class="register mx-2 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="register__title">Sign up</div>
                </div>
                <div class="register__text my-3">Please enter your email to create your account</div>
                <form class="register__form">
                    <div class="form-group">
                        <label for="email" style="font-size: 1.3rem;">Email</label>
                        <input type="email" class="form-input" id="email">
                    </div>
                    <button type="submit" class="form-btn" >Sign up</button>
                </form>
                <div class="d-flex flex-column align-items-center my-3">
                    <div class="login">Already have an account? <span class="login__span" [routerLink]="['/login']">Login</span></div>
                </div>
                <section class="footer">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <div class="footer-text">
                        By signing up to create an account, I accept Company's 
                        <span class="important">Terms of Use</span>  
                        and 
                        <span class="important">Privacy Policy</span>
                    </div>
                </section>
            </div>
        </article>
    </section>
</main>
