/* ____________Atos____________ */
$atos-primary: #0596FF;
$atos-black: #0F0F0F;
$atos-white: #FFFFFF;
$atos-grey: #2B2B2B;
$atos-purple: #A375FF;
$atos-green: #00A39B;
$atos-red: #FF5269;
$atos-yellow: #B88D00;

$atos-typo: Raleway;

/* ___________Eviden___________ */
$eviden-primary: #FF6D43;
$eviden-deep-blue: #002D3C;
$eviden-light-gray: #ECECED;
$eviden-black: #000000;
$eviden-white: #ffffff;
$eviden-blue: #006878;
$eviden-pink: #FF9FAD;
$eviden-orange: #DF4113;
$eviden-gray-1: #F2DBE3;
$eviden-grey-2: #D0CCC3;

$eviden-typo: Monserrat;