<main>
    <section class="container">
        <div class="row top">
            <article class="d-flex flex-column align-items-center head">
                <div class="head__icon">
                    <div class="head__icon-top"></div>
                    <div class="head__icon-bottom">
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="head__title"><span class="bold">Office</span> Manager</div>
            </article>
        </div>
        <article>
            <div class="register mx-2 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="register__title">Sign up</div>
                </div>
                <div class="register__text my-3">There was a problem with your email address. 
                    Please contact your administrator for more details</div>
                <button type="submit" class="form-btn" >OK</button>
                <div class="d-flex flex-column align-items-center my-3">
                    <div class="login">Already have an account? <span class="login__span" [routerLink]="['/login']">Login</span></div>
                </div>
            </div>
        </article>
    </section>
</main>