@use "src/shared/variables" as m;
@import 'src/shared/forms/form', 'src/shared/forms/logo', 'src/shared/forms/footer', 'src/shared/forms/checkbox', 'src/shared/forms/formShape';

main {
    background-image: url('/assets/backgroundEviden.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.form-input{
    color: m.$eviden-primary;
}

.container{
    height: 100%;
    display: grid;
    place-items: center;
}

.login {
    font-size: 0.9rem;

    &__span{
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
    }
}

article{
    height: 100%;
}

@media screen and (max-width: 340px) {
    .register{
        padding: 30px 20px;
    }
}