<main>
    <section class="container">
        <div class="row top">
            <article class="d-flex flex-column align-items-center head">
                <div class="head__icon">
                    <div class="head__icon-top"></div>
                    <div class="head__icon-bottom">
                        <div class="bottom-line"></div>
                    </div>
                </div>
                <div class="head__title"><span class="bold">Office</span> Manager</div>
            </article>
        </div>
        <article>
            <div class="register mx-2 mb-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="register__title">Sign up</div>
                </div>
                <div class="register__text my-3" style="width: 250px;">Complete your registration</div>
                <form class="register__form">
                    <div class="form-group">
                        <label for="name" style="font-size: 1.3rem;">Name</label>
                        <input type="text" class="form-input" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email" style="font-size: 1.3rem;">Email</label>
                        <input type="email" class="form-input" id="email">
                    </div>
                    <div class="form-group">
                        <label for="company" style="font-size: 1.3rem;">Company</label>
                        <input type="text" class="form-input" id="company">
                    </div>
                    <div class="form-group">
                        <label for="password" style="font-size: 1.3rem;">Password</label>
                        <input type="password" class="form-input" id="password">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" style="font-size: 1.3rem;">Confirm Password</label>
                        <input type="password" class="form-input" id="confirm-password">
                    </div>
                    <button type="submit" class="form-btn" >Create my account</button>
                </form>
            </div>
        </article>
    </section>
</main>
