@import 'scss/body';

.container{
    margin-block: 20px;
    background: none;
    height: 500px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 3px lightgray;
    padding: 15px 20px;
}

.head{
    margin-bottom: 15px;

    *{
        margin-bottom: 5px;
    }
    &__title{
        font-weight: bold;
        font-size: 1.8rem;
    }

    &__subtitle{
        font-weight: bold;
        font-size: 1.4rem;
    }
}

.divider{
    height: 100%;
    width: 1px;
    background: #000;
}