.register{
    max-width: 400px;
    height: auto;
    background: white;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 30px 40px;
    
    &__title{
        font-size: 1.7rem;
        font-weight: 600;
    }

    &__text{
        font-size: 0.9rem;
        text-align: center;
    }
}